{% load static %}
{% load blog_tags %}

<br>
<p class="row justify-content-center">{% total_posts %} posts.</p>

{% include 'blog/base/pages.html' with page=page_obj %}
<br>

{% for item in posts %}

<section data-bs-version="5.1" class="content10 cid-tzVgp39K95" id="content10-1" xmlns="http://www.w3.org/1999/html">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md">
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
                    {{ item.titulo }}
                </h6>
            </div>

            <div class="col-md-12 col-lg-6">
                <p class="mbr-text mbr-fonts-style display-7">{{ item.corpo|truncatewords:30|linebreaks }}</p>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="content11 cid-tzVh8oOL0w" id="content11-2">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="{% url 'detail' item.slug %}">Ver post</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>

{% endfor %}



